<configuration>
  <conversionRule conversionWord="pid"
                  converterClass="VASSAL.tools.logging.ProcessIDConverter" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <if condition='property("os.name").toLowerCase().startsWith("windows")'>
      <then>
        <file>${APPDATA}/VASSAL/vassal-test.log</file>
      </then>
      <else>
        <if condition='property("os.name").toLowerCase().startsWith("mac")'>
          <then>
            <file>${user.home}/Library/Application Support/VASSAL/vassal-test.log</file>
          </then>
          <else>
            <file>${user.home}/.VASSAL/vassal-test.log</file>
          </else>
        </if>
      </else>
    </if>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>%date [%pid-%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>
