<configuration>
  <conversionRule conversionWord="pid"
                  class="VASSAL.tools.logging.ProcessIDConverter" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>vassal-test.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>%date [%pid-%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>
  
  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>
