<configuration>
  <property resource="git.properties" />
  <property name="LOG_FILE" value="errorLog-${git.version}" />

  <if condition='isDefined("VASSAL.conf")'>
    <then>
      <property name="CONF_DIR" value="${VASSAL.conf}" />
    </then>
    <else>
      <if condition='property("os.name").toLowerCase().startsWith("windows")'>
        <then>
          <property name="CONF_DIR" value="${APPDATA}/VASSAL" />
        </then>
        <else>
          <if condition='property("os.name").toLowerCase().startsWith("mac")'>
            <then>
              <property name="CONF_DIR" value="${user.home}/Library/Application Support/VASSAL" />
            </then>
            <else>
              <property name="CONF_DIR" value="${user.home}/.VASSAL" />
            </else>
          </if>
        </else>
      </if>
    </else>
  </if>

  <conversionRule conversionWord="pid"
                  converterClass="VASSAL.tools.logging.ProcessIDConverter" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${CONF_DIR}/${LOG_FILE}</file>
    <encoder>
      <pattern>%date [%pid-%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>

  <!-- Console - //FIXME we ought to think about making an easy way to turn this on, seeing errorLog in my IDE window is GREAT! -->
  <!--
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>
  -->

  <!-- Chatter -->
  <appender name="CHATTER" class="VASSAL.build.module.ConsoleAppender"/>

  <root level="info">
    <appender-ref ref="FILE" />
    <appender-ref ref="CHATTER" />
    <!-- <appender-ref ref="CONSOLE" /> -->
  </root>
</configuration>
